<ion-header>
  <ion-toolbar>
    <ion-title data-test='book-list-nav'>iBook</ion-title>
  </ion-toolbar>
</ion-header>
<router-outlet></router-outlet>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <div>
      <h2 data-test="book-list-header" class="aligned-center">My Book List</h2>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <app-book-creation [registerClick]="registerBooksCallback"></app-book-creation>
        </ion-col>
      </ion-row>
      <div data-test="book-item" *ngFor="let book of books">
        <ion-row>
          <ion-col size-md="6" offset-md="3">
            <app-book-item [book]="book"></app-book-item>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-grid>
</ion-content>
